.section {
  background-color: #4EA0A8;
}

.box {
  color: white;
  padding: 3.5rem 2rem;
  margin-top: -9rem;
  background-color: #141c3a;
  box-shadow: 0 5px 5px 0 rgb(0 0 0 / 20%), 0 0 0 1px #141c3a;
}

/* TODO: remove importants and inject bulma styles */
.button {
  background-color: transparent !important;
  border-color: #4EA0A8 !important;
  color: #4EA0A8 !important;
}

.button:hover {
  background-color: #4EA0A8 !important;
  border-color: #4EA0A8 !important;
  color: #fff !important;
}