.footer {
  background-color: #4EA0A8;
  padding-top: 8rem;
  padding: 4rem;
}

.has-text-centered {
  text-align: center;
}

.title {
  color: white !important;
  padding: 3.2rem;
  margin: 0 !important;
}

.logo {
  height: 52px;
}